/* Chat.css */
.custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888888 #f5f5f5; /* For Firefox */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px; /* Width of vertical scrollbar */
    height: 50px; /* Height of horizontal scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888888; /* Color of the thumb */
    border-radius: 6px; /* Roundness of the thumb */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Color of the track */
  }
  